%arrow{
  position: absolute;
  top: 5rem;
  font-size: 2rem;
  cursor: pointer;
  display: block;
}

%landscape{
  @media (orientation: landscape) and (min-width: 480px) and(max-width: 769px){
    display: block;
  }
}