.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .employee{
        flex-direction: column;
        background-color: white;
        margin: 0 1rem;
        animation: pop .6s ease-out;
        position: relative;
    }

    .fas{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
    }
}

// add animation popping