.grid{
    width: 100%;
    margin: 2rem 0;
    
    @media (min-width: 769px){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        justify-content: centerl;
    }
    @media (orientation: landscape) and (min-width: 480px) and (max-width: 769px),
            (min-width: 480px) and (max-width: 769px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
    }
}